
.quiz-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}


button {
    background: skyblue;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 16px;
    display: block;  
    width: 100%;     /* Make buttons take full width */
    max-width: 250px;  /* Optional: Limit max width for better alignment */
    margin-left: auto;
    margin-right: auto;  /* Center buttons horizontally */
}


button:hover {
    background: blue;
}

.results {
    font-size: 24px;
    font-weight: bold;
}

.progress-bar-container {
    width: 80%;
    height: 10px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px auto;
    overflow: hidden;
    visibility: hidden;
}

.progress-bar {
    height: 100%;
    background: green;
    visibility: hidden;
}

.timer {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
body {
    background-color: midnightblue;
    color: white;  
    font-family: Arial, sans-serif;  
}

.App h1{
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px skyblue;
}

.emoji {
    font-size: 80px;  
    margin-top: 20px;  
}
